.rightButtonBoard{
    position: absolute;
    right: -20px;
    top: 45%;
    transform: translateY(-50%);
    background-color: rgba(23, 24, 31, 0.8);
    height: 135px;
    width: 60px;
    z-index: 11;
    border-radius: 34px;
    margin-right: 36px;
    padding: 10px;
    color: #4e5054;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: border-radius 0.1 ease-in-out;

    .rightButtonBoard__icon{
        cursor: pointer;
        padding: 14px;
        border-top: 2px solid #4e5054;

        .icon.active{
            color: #f3a952;
        }
    }

    .rightButtonBoard__icon:first-child{
        border: none;
    }
}

.rightButtonBoard.sounds{
    border-radius: 0 34px 34px 34px;
}

.rightButtonBoardBox{
    position: absolute;
    right: 100%;
    top: -40%;
    background-color: rgba(23, 24, 31, 0.8);
    width: 370px;
    height: 450px;
    display: flex;
    flex-direction: column;
    padding: 15px 30px;
    transform-origin: right top;
    border-radius: 30px;

    h4,
    h5{
        font-weight: 700;
        font-size: 18px;
    }
}